:root {
  --colorprimary: #ffb703;
  --textcolor: #f4f7f8;
  --colorbg: #023047;
}

/* code for laptop normal */

@media screen and (max-width: 1024px) {
  header nav {
    height: 5.5rem;
  }

  header nav ul li:nth-child(1) {
    position: absolute;
    left: 7rem;
    font-size: 30px;
  }


  header nav ul {
    gap: 1rem;
  }

  .logo {
    width: 10rem;
    height: 10rem;
    top: -1.8rem;
  }
  .logo img {
    width: 10rem;
    height: 10rem;
  }

  .line2 {
    width: 22.6rem;
  }
  .box div {
    margin-top: 0px;
    padding: 6px 10px;
  }
  .box {
    left: 1.8rem;
    min-height: 280px;
  }
  .boxdetails {
    padding: 0px;
  }
  .box-logo {
    right: 5px;
    top: 4px;
  }
  .box-logo img {
    top: -6.9px;
    left: -10.9px;
  }
  .boxsummary {
    width: 30rem;
    overflow-y: scroll;
  }
  .boxsummary::-webkit-scrollbar {
    width: 0px;
  }

  .edu {
    left: -220px;
    height: 100px;
  }

  .line4 {
    width: 20rem;
  }
  .lic {
    margin-left: 21rem;
    width: 42rem;
    min-height: 100px;
    margin-top: 20px;
  }
  .licsummary {
    width: 36rem;
  }
  .line5 {
    width: 10rem;
  }
  .proj {
    margin-left: 180px;
    width: 45rem;
    height: 400px;
  }
  .projsummary {
    width: 40rem;
  }

  .box-logo2 {
    top: 3.1rem;
  }
  .box-logo3 {
    top: 5.9rem;
  }

  .line6 {
    width: 18rem;
    top: 350px;
  }
  .skills {
    margin-left: 300px;
    height: 26rem;
  }
  .skillsgrid {
    grid-template-columns: repeat(3, 1fr);
  }
  .skillbox {
    margin-bottom: 4px;
  }

  .hon {
    position: absolute;
    left: -13rem;
    width: 54rem;
    height: 100px;
  }
  .honsummary {
    width: 48rem;
    height: 109px;
  }

  .line7 {
    width: 2rem;
  }
  /* /*  * */
}

/* for the tablet */
@media screen and (max-width: 786px) {
  header nav ul li:nth-child(1) {
    position: absolute;
    left: 120px;
    margin-top: 8px;
    font-size: 25px;
  }
  header nav {
    gap: 10px;
  }
  header div:nth-child(4) {
    width: 14rem;
    top: 10rem;
    right: -4rem;
  }
  header div:nth-child(5) {
    width: 94.7vw;
    top: 215px;
    right: 18px;
  }

  header nav ul {
    gap: 8px;
    margin-right: 12px;
  }

  .line1 {
    width: 10.6rem;
  }
  .about {
    width: 65vw;
    height: 200px;
    margin-left: 270px;
  }

  .line2 {
    width: 15.4rem;
  }
  .exp {
    left: -5.5rem;
  }
  .expbox {
    width: 20rem;
    height: 3.6rem;
  }
  .boxdetails .box-logo {
    margin-top: 0px;
  }
  .expbox p {
    margin: 6px 0px;
  }
  .boxdetails div:nth-child(1) p:nth-child(3) {
    margin: 0px;
  }

  .edu .boxsummary {
    width: 23.8rem;
  }
  .line4 {
    width: 20rem;
  }
  .lic {
    margin-left: 21rem;
    width: 26rem;
    min-height: 100px;
    margin-top: 20px;
  }
  .licsummary {
    width: 20rem;
  }
  .licsummary p:nth-child(2) {
    margin: 0px;
  }
  .proj {
    margin-left: 180px;
    width: 30rem;
    height: 400px;
  }
  .projsummary {
    width: 25rem;
  }
  .projsummary p:nth-child(1) {
    margin-right: 80px;
  }
  .projsummary p:nth-child(2) {
    margin-left: 0px;
  }
  .projsummary p:nth-child(4) a {
    list-style: none;
    text-decoration: none;
    color: var(--textcolor);
    margin: 0px;
    margin-right: 4px;
  }

  .box-logo2 {
    top: 3.1rem;
  }
  .box-logo3 {
    top: 5.9rem;
  }

  .line6 {
    width: 14rem;
    top: 350px;
  }
  .skills {
    width: 26rem;
    margin-left: 15rem;
    height: 26rem;
  }
  .skillsgrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .hon {
    position: absolute;
    left: -210px;
    width: 38rem;
    height: 100px;
  }
  .honsummary {
    width: 32rem;
    height: 109px;
  }

  .line7 {
    width: 2rem;
  }
}
/*  */
/* for the Mobile-L */
@media screen and (max-width: 425px) {
  .container {
    padding-bottom: 300px;
  }
  header nav ul {
    display: none;
  }
  header div:nth-child(3) {
    width: 74vw;
    top: 93px;
  }

  header div:nth-child(4) {
    width: 6rem;
    right: -1rem;
    top: 7.8rem;
  }
  header div:nth-child(5) {
    width: 26rem;
    top: 8.5rem;
    left: 0rem;
  }
  .name-m {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -50px;
    right: 0.2rem;
    font-weight: 700;
    font-size: 25px;
    z-index: 1000;
    background-color: transparent;
  }
  .longline {
    display: block;
    width: 0.5rem;
    height: 160rem;
    background-color: var(--colorprimary);
    border-radius: 4px;
    position: absolute;
    top: -4rem;
  }
  .arrow {
    display: none;
  }

  .logo {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    left: 0px;
    top: -1.3rem;
  }
  .logo img {
    width: 8rem;
    height: 8rem;
  }
  .container {
    margin-top: 0px;
    position: relative;
    top: -80px;
    margin-left: 0.8rem;
  }

  .fullbox {
    margin: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0px;
    position: relative;

    /* width: 80vw; */
  }
  .line1,
  .line2,
  .line3,
  .line4,
  .line5,
  .line6,
  .line7,
  .line8,
  .line9 {
    width: 1.6rem;
    left: 0rem;
    top: 2rem;
    margin: 0px;
    position: absolute;
  }
  .line {
    top: 10rem;
  }
  .line1 {
    top: 30rem;
  }
  .line7 {
    top: 27rem;
  }
  .box {
    margin: 0px;
    left: 0px;
    right: 0px;
    width: 90vw;
    min-height: 250px;
  }
  .boxsummary {
    width: 20.1rem;
    font-size: 12px;
  }
  .boxsummary p:nth-child(1) {
    font-size: 14px;
  }
  .boxsummary p:nth-child(2),
  .boxsummary p:nth-child(3),
  .boxsummary p:nth-child(4),
  .boxsummary p:nth-child(5) {
    font-size: 10px;
  }

  .box-logo {
    height: 3.7rem;
    width: 3.7rem;
    margin: 0px;
    position: absolute;
    top: 5.4px;
    right: -10px;
  }
  .box-logo img {
    height: 3.7rem;
    width: 3.7rem;
    top: -0.5rem;
    left: -0.8rem;
  }
  .about {
    top: 0px;
    margin-top: 0px;
  }
  .secExp {
    margin-top: 0px;
    top: 0px;
    position: static;
  }

  .edu {
    top: 0px;
    margin-top: 0px;
  }
  .edusummary {
    height: 3.6rem;
  }
  .edusummary p:nth-child(4) strong {
    font-size: 11px;
  }
  .licsummary {
    height: 3.6rem;
  }
  .licsummary p:nth-child(1) {
    margin-right: 80px;
  }
  .licsummary p:nth-child(3),
  .licsummary p:nth-child(4) {
    margin: 0px;
    margin-bottom: 2px;
  }
  .proj {
    height: 250px;
  }
  .proj .box-logo2 {
    top: 3.1rem;
  }
  .proj .box-logo3 {
    top: 6.1rem;
  }
  .skills {
    height: 550px;
    margin-top: 260px;
  }
  .hon {
    margin: 0px;
    padding: 0px;
    position: static;
    margin-top: 590px;
  }
  .honsummary {
    height: 3.6rem;
  }
}
/* for the Mobile-M */
@media screen and (max-width: 375px) {
  .container {
    padding-bottom: 300px;
  }
  header nav ul {
    display: none;
  }
  header div:nth-child(3) {
    width: 74vw;
    top: 93px;
  }
  header div:nth-child(5) {
    width: 22.5rem;
    
 }

  .name-m {
    top: -50px;
    right: -1.9rem;
  }
  .arrow {
    display: none;
  }
  .line1,
  .line2,
  .line3,
  .line4,
  .line5,
  .line6,
  .line7 {
    width: 1.3rem;
  }
  .logo {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    left: 0px;
    top: -1.3rem;
  }
  .logo img {
    width: 8rem;
    height: 8rem;
  }
  .container {
    margin-top: 0px;
    position: relative;
    top: -80px;
  }

  .fullbox {
    margin: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0px;
    /* width: 80vw; */
  }
  .box {
    margin: 0px;
    left: 0px;
    right: 0px;
    width: 90vw;
    min-height: 250px;
  }
  .boxsummary {
    width: 20.1rem;
    font-size: 12px;
  }
  .boxsummary p:nth-child(1) {
    font-size: 14px;
  }
  .boxsummary p:nth-child(2),
  .boxsummary p:nth-child(3),
  .boxsummary p:nth-child(4),
  .boxsummary p:nth-child(5) {
    font-size: 10px;
  }

  .box-logo {
    height: 3.7rem;
    width: 3.7rem;
    margin: 0px;
    position: absolute;
    top: 5.4px;
    right: -10px;
  }
  .box-logo img {
    height: 3.7rem;
    width: 3.7rem;
  }
  .about {
    top: 0px;
    margin-top: 0px;
  }
  .secExp {
    margin-top: 0px;
    top: 0px;
    position: static;
  }

  .edu {
    top: 0px;
    margin-top: 0px;
  }
  .edusummary {
    height: 3.6rem;
  }
  .edusummary p:nth-child(4) strong {
    font-size: 11px;
  }
  .edusummary p:nth-child(1) {
    margin-right: 150px;
  }
  .edusummary p:nth-child(2) {
    margin-left: 0px;
  }
  .edusummary p:nth-child(4) {
    margin-bottom: 2px;
  }
  .licsummary {
    height: 3.6rem;
  }
  .licsummary p:nth-child(1) {
    font-size: 12.6px;
    font-weight: 900;
    margin-left: 0px;
  }
  .licsummary p:nth-child(3),
  .licsummary p:nth-child(4) {
    margin: 0px;
    margin-bottom: 2px;
  }
  .proj {
    height: 250px;
  }
  .proj .box-logo2 {
    top: 3.1rem;
  }
  .proj .box-logo3 {
    top: 6.1rem;
  }
  .skills {
    height: 550px;

    margin-top: 260px;
  }
  .skillbox {
    margin: 0px;
    padding: 0px;
    width: 9rem;
    margin-bottom: 4px;
  }
  .skillsgrid {
    margin: 0px;
    display: grid;
    padding: 0px;
    position: static;
    gap: 0px;
  }
  .hon {
    margin: 0px;
    padding: 0px;
    position: static;
    margin-top: 590px;
  }
  .honsummary {
    height: 3.6rem;
  }
  .honsummary p:nth-child(1) {
    font-size: 12px;
    margin-right: 120px;
  }
}
/*  */
@media screen and (max-width: 320px) {
  .name-m {
    top: -50px;
    right: -2.8rem;
  }
  .expbox p:nth-child(1) {
    margin-right: 80px;
  }
  .expbox p:nth-child(2) {
    margin-left: 0px;
  }
  header div:nth-child(5) {
    width: 19.5rem;
    
 }
  .edusummary p:nth-child(1) {
    margin-right: 80px;
  }
  .skillbox {
    width: 7.5rem;

    font-size: 12px;
  }
  .honsummary p:nth-child(1) {
    font-size: 12px;
    margin-right: 70px;
  }
}
